.page-user-register .highlighted {
  background: none;
  padding: 0;
  margin-bottom: 40px;
  @include box-shadow(0 0 10px rgba(0,0,0,0.4));
}

#block-register-register-reasons {
  padding: 30px 35px;
}

#block-register-register-reasons .block-title {
  @include adelle-normal;
  font-size: 35px;
  line-height: 1.3;
  color: #3A87AD;
}

#favorites .views-quicksand{
	width: 172px;
	height: 172px;
	padding:0;
	margin:10px;
	border:10px solid #F9F9F9;
	@include box-shadow(1px 1px 0 #E0E0E0);
	overflow:hidden;
	position:relative;
}

#favorites .views-field-type{
	position:absolute;
	top:0;
	left:0;
	width:167px;
	height:20px;
	line-height:21px;
	overflow:hidden;
	text-align:left;
	background:#DDDDDD;
	color:#555555;
	text-shadow: 0 1px 0 #fff;
	font-weight:bold;
	font-size: .7em;
  text-transform: uppercase;
  padding:1px 0 1px 5px;
}

#favorites .views-quicksand .btn{
	font-size: .8em;
}

#favorites .views-field-title-1{
	position:absolute;
	bottom:0;
	left:0;
	width:172px;
	font-size: .8em;
}

#favorites .views-field-title-1 a{
	display:block;
	color:#DFF0D8;
	width:172px;
  padding:2px 0;
	text-align:center;
	background:#333236;
	text-shadow: 0 1px 0 rgba(0,0,0,1);
}

#favorites .views-field-ops{
	position: absolute;
	top:0px;
	right:0px;
}

#favorites .views-field-ops a{
	display:block;
}

.flag-throbber{
	position: absolute;
	bottom:0px;
	right:0px;
}

#favorites label{
	font-size:.8em;
	font-weight: normal;
	color:#898989;
	text-transform:uppercase;
}

#favorites .views-exposed-form{
	border-bottom: 1px solid #EEE;
	padding-bottom:10px;
	margin: 0 10px 10px;
}

#favorites .views-exposed-form #edit-type-all a,
#favorites .views-exposed-form #edit-sort-by-title a,
#favorites .views-exposed-form #edit-sort-order-asc a {
  @include border-radius(3px 0 0 3px);
}

#favorites .views-exposed-form #edit-type-remodeler a,
#favorites .views-exposed-form #edit-sort-by-timestamp a,
#favorites .views-exposed-form #edit-sort-order-desc a {
  @include border-radius(0 3px 3px 0);
}

#favorites .views-exposed-form a.btn-info {
  background: #eee;
  color: #bbb;
  text-shadow: 0 1px 0 #fff;
}

#favorites .views-exposed-form a.btn-info:hover {
  background: #e9e9e9;
  color: #999;
}

#favorites .views-exposed-form a.btn-inverse {
  background: #41C3D4;
  color: #fff;
}

#favorites .rel-register-link{
  display:none
}



#favorites .ajax-progress-throbber{
  position: absolute;
  left: 0;
  top: 0;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: .8;
}

#favorites .ajax-progress-throbber div{
  display: none;
}