// VARIABLES -------------------------------------------------------------------
$content-bg-color: whiteSmoke;


// PLACEHOLDERS ----------------------------------------------------------------
%content-boxes {
  background: $content-bg-color;
  padding: 2em;
  @include border-radius($radius: 6px);
  @include box-shadow(#ccc 0 0 12px);
}


// Layout
// ----------------

.html, body {
  position: relative;
  height: auto;
}

body {
  background: #e8e8e8 url(../images/backgrounds/coral_tile.png);
  padding-top: 30px;
  padding-bottom: 30px;
}

#page-wrapper {
	padding:0 30px;
}

#page {
}

#main-wrapper {
	padding: 30px 0;

  #sidebar-first {
    @extend %content-boxes;

    // position: fixed;
    // top: 60px;
    // left: 45px;
  }

  #content-wrapper {
    @extend %content-boxes;
  }

}

#copyright {
	color: $grayLight;
	padding-top: 10px;
	font-size: 11px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	line-height: 16px;

  a {
    background: url('../img/bs-ashenrayne.png') no-repeat left center;
    padding-left: 20px;
    line-height: 16px;
    display: inline-block;
    color: $grayLighter;

    &:hover {
      color: #FC9829;
      text-decoration: none;

      span {
        color: #F1460A;
      }
    }
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) {
  // #affix-wrapper .affix {
  //   width: 23.057%;
  // }
}

@media (min-width: 768px) and (max-width: 979px) {
  #affix-wrapper .affix {
    position: static;
    width: auto;
    top: 0;
    margin-bottom: 15px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding: 0;
	}
  #affix-wrapper .affix {
    position: static;
    width: auto;
    top: 0;
    margin-bottom: 15px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  #affix-wrapper .affix {
    position: static;
    width: auto;
    top: 0;
    margin-bottom: 15px;
  }

  #content-wrapper {
    margin-top: 15px;

    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 3em;
    }

    h3 {
      font-size: 2.5em;
    }

    h4 {
      font-size: 1.5em;
    }

    h5, h6 {
      font-size: 1em;
      font-weight: bolder;
      font-style: italic;
    }
  }
}
