// VARIABLES -------------------------------------------------------------------
$family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
$heading-color: #818181;
$subheading-color: #4F9DCE;
// /VARIABLES ------------------------------------------------------------------


// PLACEHOLDERS ----------------------------------------------------------------
%heading {
	font-family: $family;
	color: $heading-color;
	font-shadow: 0 1px 0 #fff;
	letter-spacing: -.04em;
	border: none;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

%subheading {
	@extend %heading;
	margin: 1em 0 0.25em;
	color: $subheading-color;
	font-weight: 100;
	letter-spacing: 0.12em;
}
// /PLACEHOLDERS ---------------------------------------------------------------


h1 {
	@extend %heading;
	font-weight:200;
	font-size:4em;

	&#page-title {
		display: inline-block;
	}
}

h2 {
	@extend %heading;
	font-weight: 400;
	font-size: 2.5em;
}

h3 {
	@extend %subheading;

	font-size: 1.75em;
	line-height: 24px;

	// .well h3
	.well & {
		margin-top: 0;
	}
}

h4 {
	@extend %subheading;
	color: darken($heading-color, 15%);
	font-size: 1.5em;
}


